@import "tailwindcss";

* {
  margin: 1;
  padding: 1;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #020617;
  color: white;
  overflow-x: hidden;
  font-family: Inter, sans-serif;
}